{% extends 'base.html' %}

{% block head %}
    <title>edit article</title>
{% endblock head %}

{% block content %}
{% include 'inc/nav.html' %}
    <div class="form">
        <form class="edit-article" action="{% url 'article:edit' obj.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">edit</button>
        </form>
        <div>
            {% for tag in obj.tags.all %}
                <div>
                    <a href="">#{{tag}}</a> <a href="{% url 'tag:delete' obj_id=obj.pk tag_id=tag.tag.pk %}">delete</a>
                </div>
            {% endfor %}
        </div>
        <form action="{% url 'tag:add' obj_id=obj.pk %}" method="post">
            {% csrf_token %}
            {{tag_form.as_p}}
            <button type="submit">add</button>
        </form>
    </div>
{% endblock content %}
    
    