{% extends 'base.html' %}

{% block head %}
    <title>edit article</title>
{% endblock head %}

{% block content %}
{% include 'inc/nav.html' %}
    <div class="form">
        <form class="edit-article" action="{% url 'article:edit' obj.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">edit</button>
        </form>
        <form action="{% url 'article:addtag' obj.pk %}" method="post">
            {% csrf_token %}
            {{tag_form.as_p}}
            <button type="submit">add</button>
        </form>
    </div>
{% endblock content %}
    
    